h1{
    color: aqua;
    text-align: center;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ9ZD5OjT0ARByeIVYXYwVGF_GrW7DPgIBqg&usqp=CAU);
    background-repeat: no-repeat;
}